:root {
    --bs-primary: #7b1515;
}

.logo {
    width: 100px;
    padding: 5px;
}

.tlr-nav {
    background-color: black;
    border-bottom: 1px solid white;
}

.bg-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
}

/* <weight>: Use a value from 100 to 900 */
.archivo-main {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: white;
}

.inter-main {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.inter-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.mars-title {
    position: relative;
    z-index: -1;
    height: 115vh;
}

.title {
    padding-inline: 5vw;
    color: white;
}

.page-title {
    padding-top: 410px;
}

.callout {
    background-color: #E7B7B7;
    opacity: 0.6;
    width: 100%;
    height: 80vh; 
    z-index: 1;
    text-align: center;
    padding: 30vh 0;
    margin-bottom: 150px;
    font-size: 1.5em;
}

.subtitle {
    font-size: 0.8em;
}

.link-section {
    position: relative;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 70px;
    padding: 5vw;
}

.grid-item {
    width: 100%;
}

.link {
    color: white;
    font-size: 1.5em;
    text-align: right;
    padding: 3vw;
    margin: 0;
}

body {
    background-color: black;
}

h1 {
    font-size: 13vw;
}
